################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CSVAPI/.vs
/CSVAPI/CSVAPI/bin/Debug/net6.0
/CSVAPI/CSVAPI/obj
